<ion-view view-title="Chats">
	<ion-content class="">
		<div class="list">
			<ion-item 
				class="item-text-wrap item-avatar" 
				ng-repeat="chatMsg in chats"
			>
				<img 
					ng-src="{{chatMsg.from.face}}" 
				  ui-sref="menu.tab.event-person-detail({ attendeeId: chatMsg.from.attendeeId })"
				/>
				{{ chatMsg.message }}
			</ion-item>
		</div>
		
	</ion-content>
	
	<ion-footer-bar class="bar-dark msg-bar">
		<label class="item item-input">
			<input 
				type="text" 
				placeholder="Send a message!" 
				ng-model="msgText" 
				ng-keydown="onKeyDown($event)"
			>
		</label>
		<div class="buttons">
			<button class="button button-clear" ng-click="submitMsg()">
				<i class="icon ion-chatbox"></i>
			</button>
		</div>
	</ion-footer-bar>
</ion-view>