<ion-view view-title="{{ company.name }}">
	<ion-content>
		<div class="card">
			<ion-item class="item-text-wrap avatar-set">
				<img 
					ng-repeat="rep in getReps(company)" 
					ng-src="{{ rep.face }}" 
					ui-sref="menu.eTab.rep-detail({ attendeeId: rep.id })"
				/>
			</ion-item>
			<ion-item>
				Rating {{rate}}/{{max}}:
				<rating ng-model="rate" max="max" readonly="readOnly"></rating>
			</ion-item>
			<ion-item>
				{{ company.premise }}
			</ion-item>
			<ion-item class="item-body">
				{{ company.pitch }}
			</ion-item>
				
		</div>
	</ion-content>
</ion-view>