<ion-view view-title="Companies">
	<ion-content>
		<div 
			class="list card" 
			ng-repeat="company in companies"
			ui-sref="menu.eTab.company-detail({ companyId:company.id })"
		>
			
			<div class="item">
				<h2>{{ company.name }}</h2>
			</div>
			
			<div class="item avatar-set item-text-wrap">
				<img 
					ng-repeat="rep in getReps(company)" 
					ng-src="{{ rep.face }}"
				/>
			</div>
			
			<div class="item item-body">
				<p>{{ company.premise }}</p>
			</div>
			
		</div>
	</ion-content>
</ion-view>