<ion-view view-title="Entrants">
	<ion-content>
		<div 
			class="list card" 
			ng-repeat="entrant in entrants"
			ui-sref="tab.entrant-detail({ entrantId:entrant.id })"
		>
			
			<div class="item">
				<h2>{{ entrant.name }}</h2>
			</div>
			
			<div class="item avatar-set item-text-wrap">
				<img 
					ng-repeat="rep in getReps(entrant)" 
					ng-src="{{ rep.face }}"
				/>
			</div>
			
			<div class="item item-body">
				<p>{{ entrant.premise }}</p>
			</div>
			
		</div>
	</ion-content>
</ion-view>