<ion-tabs class="tabs-icon-top tabs-striped tabs-dark">

<!--
  <ion-tab icon="ion-speakerphone" title="Schedule" ui-sref="menu.eTab.schedule">
		<ion-nav-view name="event"></ion-nav-view>
	</ion-tab>

  <ion-tab icon="ion-ios-bookmarks" title="Schedule" ui-sref="menu.eTab.schedule">
		<ion-nav-view name="event"></ion-nav-view>
	</ion-tab>

-->

  <ion-tab icon="ion-ios-briefcase" title="Entrants" ui-sref="menu.eTab.entrants">
		<ion-nav-view name="entrants"></ion-nav-view>
	</ion-tab>

	<ion-tab icon="ion-person-stalker" title="Attendees" ui-sref="menu.eTab.attendees">
		<ion-nav-view name="attendees"></ion-nav-view>
	</ion-tab>
	
</ion-tabs>