<!--
<ion-tabs class="tabs-icon-top tabs-secondary tabs-striped tabs-dark">

  <ion-tab icon="ion-android-notifications" title="Notifications" ui-sref="tab.event.notifications">
		<ion-nav-view name="notifications"></ion-nav-view>
	</ion-tab>

  <ion-tab icon="ion-android-chat" title="Chat" ui-sref="tab.event.chat">
		<ion-nav-view name="chat"></ion-nav-view>
	</ion-tab>

	
</ion-tabs>
-->

<ion-view view-title="Event">
	<ion-content class="" scroll="false">
		<div class="item tabs tabs-secondary tabs-icon-top">
			
			<a class="tab-item" ui-sref="tab.event.notifications">
				<i class="icon ion-android-notifications"></i>
					 Notifications 
			</a>
			<a class="tab-item" ui-sref="tab.event.chat">
				<i class="icon ion-android-chat"></i>
				 Chat 
			</a>

		</div>

	</ion-content>
	<div class="spacer" />
	<ui-view name="event-sub"></ui-view>

</ion-view>
