<ion-view view-title="Event Dashboard">
	<ion-content>
		<div class="list">
			<ion-item 
				ng-class="notification.type === 'chat' ? 'item-avatar' : '' " 
				class="item-text-wrap" 
				ng-repeat="notification in notifications"
			>
				<img 
					ng-if="notification.type === 'chat' " 
					ng-src="{{notification.face}}" 
				/>
				{{ notification.message }}
			</ion-item>
		</div>
		
	</ion-content>
	
	<ion-footer-bar class="bar-dark">
		<div class="row">
			<div class="col col-80">
				<label class="item item-input">
					<input type="text" placeholder="Say hello!">
				</label>
			</div>
			<div class="col col-20">
				<div class="buttons pull-right" ng-click="doSomething()">
					<button class="button button-clear">
						<i class="icon ion-chatbox"></i>
					</button>
				</div>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>