<ion-view view-title="Choose your role">
	<div class="bar bar-header bar-light">
		<h1 class="title">Who are you?</h1>
	</div>
	<ion-content>
		
		<button class="button button-balanced button-block role-select" ng-click="setRole('entrant')" ui-sref="tab.event">Entrant</ion-button>
		<button class="button button-royal button-block role-select" ng-click="setRole('judge')" ui-sref="tab.event">Judge</ion-button>
		<button class="button button-positive button-block role-select" ng-click="setRole('audience')" ui-sref="tab.event">Audience</ion-button>
	</ion-content>
</ion-view>