<ion-view view-title="Create a user">
	<ion-content class="padding">
		<div class="list">
			
			<div class="item item-image">
				<img id="avatar-preview" ng-src="{{newUser.face}}" />
			</div>
			<button 
				class="button item button-full button-outline button-dark"
				ng-click="takePicture()"
			>
				Take a picture! 
				<i class="icon ion-camera"></i>
			</button>
			
			<button 
				class="button item button-full button-outline button-dark"
				ng-click=" cropButton() "
			>
				{{ cropping ? "Crop" : "Start cropper" }}
				<i class="icon ion-crop"></i>
			</button>
			<ion-item 
				class="error"
				ng-style="{display: error ? 'inherit' : 'none'}"
			>{{error}}</ion-item>
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input ng-model="newUser.username" type="text"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input ng-model="newUser.password" type="password"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Name</span>
				<input ng-model="newUser.name" type="text"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Company</span>
				<input ng-model="newUser.company" type="text"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Position</span>
				<input ng-model="newUser.position" type="text"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input ng-model="newUser.email" type="text"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Phone</span>
				<input ng-model="newUser.phone" type="text"/>
			</label>
			<ion-checkbox 
				ng-style="{display: amISuperAdmin() ? 'inherit' : 'none'}" 
				ng-model="newUser.isAdmin"
			>Admin</ion-checkbox>
			<button class="button button-full button-dark" ng-click="createUser()">Create Account</button>
		</div>
	</ion-content>
</ion-view>