.big-face {
	margin: 20px;
	width: 68% !important;
}

.avatar-set > img {
	max-width: 50px;
	border-radius: 50%;
	margin-right: 15px;	
}

.msg-bar label{
	width: 100%;
	margin-right: 3px;
}

.error{
	border: 1px solid;
	margin: 10px 0px;
	padding:10px;
	color: #D8000C;
	background-color: #FFBABA;
	text-align: center;
	display: none;
}

.header-avatar{
	border-radius: 50%;
	height: 30px;
}

#avatar-preview{
	max-width: 300px;
}