<div class="modal">
	<ion-header-bar class="bar-dark">
		<h1 class="title">New user</h1>
		<div class="button button-clear" ng-click="modal.hide()"><i class="icon ion-close"></i></div>
	</ion-header-bar>
	
	<ion-content class="padding">
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input ng-model="newUser.username" type="text"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input ng-model="newUser.password" type="password"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Name</span>
				<input ng-model="newUser.name" type="text"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Company</span>
				<input ng-model="newUser.company" type="text"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Position</span>
				<input ng-model="newUser.position" type="text"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input ng-model="newUser.email" type="text"/>
			</label>
			<label class="item item-input">
				<span class="input-label">Phone</span>
				<input ng-model="newUser.phone" type="text"/>
			</label>
			
			<button class="button button-full button-dark" ng-click="createUser()">Create Account</button>
		</div>
	</ion-content>
</div>